/* 헤더 */
header{
    background-color: transparent;
    width: 1920px;  height: 80px;
    display: flex;
    position: fixed;
    z-index: 100;
    padding: 24px 60px;
}
header nav{position: relative;}
header nav .gnb{display: flex;}
header nav .gnb > li{
    margin-right: 55px;
    position: relative;
}
header nav .gnb > li:last-child{margin: 0;}
header nav .gnb > li > a{
    color: #fff;
    font-size: 1.0rem;
    letter-spacing: 2px;
}
/* 비주얼 */
main{}
main .visual{
    height: 90vh;
    background: url(../img/main.png) no-repeat;
}
main .visual p{
    font-family: "Noto Serif", serif;
    color: #57160B;
    font-size: 6.25rem;
    padding: 360px 0 360px 60px;
}
main .visual span{
    font-family: "Noto Serif", serif;
    color: #57160B;
    font-size: 6.25rem;
    padding-left: 300px; padding-top: 35px;
}
/* 프로필 */
main .profile{ 
    width: 100%;
    line-height: 970px;
    display: flex;
    flex-flow: row wrap; 
    background-color: #F9F5F2;
}
main .profile h1{
    font-weight: 300;
    letter-spacing: 0.02em;
    font-size: 40px;
    font-family: "Noto Serif", serif;
    color: #57160B;
    padding: 50px 0 20px 80px;
}
main .profile .pro{
    width: 100%;
    padding-top: 0;
}
main .profile .pro_cont{
    width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    padding-top: 100px;
}
main .profile .pro_img{
    width: 50%;
    padding-top: 70px;
}
main .profile .pro_img img{
    width: 500px; height: 500px;
    border-radius: 100%;
}

main .profile .pro_txt{
    width: 50%;
}
main .profile .pro_txt h2{
    width: 100%;
    font-size: 2.5rem;
    font-weight: 300;
    color: #57160B;
    padding-bottom: 20px;
    padding-top: 60px;
}
main .profile .pro_txt .about{
    padding-top: 0;
}
main .profile .pro_txt ul{}
main .profile .pro_txt ul li{
    letter-spacing: 0.02em;
    font-size: 1.0rem;
    color: #57160B;
}
main .profile .pro_txt .txt01{
    display: flex;
    flex-flow: row wrap;
    width: 481px;
    border-left: 1px solid #57160B; 
    padding-left: 20px;
}
main .profile .pro_txt .txt01 li:nth-child(-n+4){
    padding-bottom: 20px;
}
main .profile .pro_txt .txt01 .title{
    width: 70px;
}
main .profile .pro_txt .txt01 .content{
    width: 160px;   
}
main .profile .pro_txt .txt02{
    display: flex;
    flex-flow: row wrap;
    width: 696px;
    border-left: 1px solid #000;
    padding-left: 20px;
}
main .profile .pro_txt .txt02 li:nth-child(-n+4){
    padding-bottom: 20px;
}
main .profile .pro_txt .txt02 .term{
    width: 175px;
}
main .profile .pro_txt .txt02 .school{
    width: 500px;
}
main .profile .pro_txt .txt03{
    display: flex;
    flex-flow: row wrap;
    width: 656px;
    border-left: 1px solid #000;
    padding-left: 20px;
}
main .profile .pro_txt .txt03 .time{
    width: 175px;
}
main .profile .pro_txt .txt03 .company{
    width: 460px;
}
main .profile .pro_txt .txt04{
    display: flex;
    flex-flow: row wrap;
    border-left: 1px solid #000;
    padding-left: 20px;
    width: 679px;
}
main .profile .pro_txt .txt04 li{
    margin-right: 20px;
    width: 65px;
}
main .profile .pro_txt .txt04 li:nth-child(4),
main .profile .pro_txt .txt04 li:nth-child(5),
main .profile .pro_txt .txt04 li:nth-child(6),
main .profile .pro_txt .txt04 li:nth-child(7){
    width: 80px;
}
main .profile .pro_txt .txt04 li img{
    width: 100%;
}
/* 웹 */
main .web{
    width: 100%;
    display: flex;
    flex-flow: row wrap; 
    background-color: #EFE8E5;
}
main .web .web_cont{
    width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
}
main .web h2{
    width: 100%;
    text-align: center;
    font-weight: 300;
    letter-spacing: 0.02em;
    font-size: 40px;
    font-family: "Noto Serif", serif;
    color: #57160B;
}
main .web .web_img{
    width: 870px;
}
main .web .web_img img{
    width: 100%;
}
main .web .web_txt{
    width: 700px;
    background-color: red;
}
main .web .web_txt h3{}
main .web .web_txt h3 ul{}
main .web .web_txt h3 ul li{}
main .web .web_txt h3 .txt{}
main .web .web_txt h3 ul .name{}
main .web .web_txt h3 ul .content{}
main .web .web_txt h3 .btn{}
main .web .web_txt h3 .btn li{}
main .web .web_txt h3 .btn li a{}

