body > * {min-width: 1920px;}
/* 스와이퍼 슬라이드 공통 */
.portfolio{height:100vh;}
.portfolio .swiper-slide{height:100vh;}
main .profile_li{background-color: #F9F5F2;}
main .tosspay_li{background-color: #EFE8E5;}
main .xexymixx_li{background-color: #EFE8E5;}
main .snp_li{background-color: #F9F5F2;}
main .lottehotel_li{background-color: #F9F5F2;}
main .page_li{background-color: #EFE8E5;}
main .banner_li{background-color: #F9F5F2;}
main .sns_li{background-color: #F9F5F2;}
/* 헤더 */
header{
    background-color: transparent;
    width: 100%;  height: 80px;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 100;
    padding-left: 60px;
}
header nav{position: relative;}
header nav .gnb{display: flex;}
header nav .gnb > li{
    margin-right: 55px;
    position: relative;
}
header nav .gnb > li:last-child{margin: 0;}
header nav .gnb > li > a{
    color: #fff;
    font-size: 1.0rem;
    letter-spacing: 0.02em;
    font-family: "Noto Serif", serif;
    font-weight: 700;
}
/* 비주얼 */
main{}
main .intro{
    background: url(../img/main.png) no-repeat;
}
main .intro p{
    font-family: "Noto Serif", serif;
    color: #57160B;
    font-size: 6.25rem;
    padding: 360px 0 360px 60px;
    letter-spacing: 0.1em;
}
main .intro span{
    font-family: "Noto Serif", serif;
    color: #57160B;
    font-size: 6.25rem;
    padding-left: 300px; padding-top: 35px;
}
/* 프로필 */
main .profile{
    background-color: #F9F5F2;
    display: flex;
    flex-direction: column;
    padding-top: 100px;/*  */
}
main h1{
    font-weight: 600;
    letter-spacing: 0.1em;
    font-size: 2.50rem;
    font-family: "Noto Serif", serif;
    color: #57160B;
    text-align: center;
}
main .profile .pro{
    text-align: initial;
    padding-left: 80px;
    /* background-color: red; */
}
main .profile .pro_cont{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 1400px;
    margin: 0 auto;
    padding-top: 50px;/*  */
}
main .profile .pro_cont .pro_img{
    width: 50%;
}
main .profile .pro_cont .pro_img img{}
main .profile .pro_cont .pro_txt{
    width: 50%;
}
main .profile .pro_cont .pro_txt h2{
    font-size: 2.5rem;
    font-weight: 300;
    color: #57160B;
    padding-bottom: 20px;
    padding-top: 60px;
    letter-spacing: 0.08em;
}
main .profile .pro_cont .pro_txt .about{padding-top: 0;}
main .profile .pro_cont .pro_txt ul{}
main .profile .pro_cont .pro_txt ul li{
    letter-spacing: 0.02em;
    font-size: 1.0rem;
    color: #57160B;
}
main .profile .pro_cont .pro_txt .txt01{
    display: flex;
    flex-flow: row wrap;
    width: 700px;
    border-left: 1px solid #57160B; 
    padding-left: 20px;
}
main .profile .pro_txt .txt01 li:nth-child(-n+4){
    padding-bottom: 20px;
}
main .profile .pro_cont .pro_txt .txt01 .title{
    width: 120px;
}
main .profile .pro_cont .pro_txt .txt01 .content{
    width: 160px;
}
main .profile .pro_cont .pro_txt .txt02{
    display: flex;
    flex-flow: row wrap;
    width: 700px;
    border-left: 1px solid #000;
    padding-left: 20px;
}
main .profile .pro_txt .txt02 li:nth-child(-n+4){
    padding-bottom: 20px;
}
main .profile .pro_cont .pro_txt .txt02 .term{
    width: 170px;
}
main .profile .pro_cont .pro_txt .txt02 .school{
    width: 490px;
}
main .profile .pro_cont .pro_txt .txt03{
    display: flex;
    flex-flow: row wrap;
    width: 700px;
    border-left: 1px solid #000;
    padding-left: 20px;
}
main .profile .pro_cont .pro_txt .txt03 .time{
    width: 170px;
}
main .profile .pro_cont .pro_txt .txt03 .company{
    width: 490px;
}
main .profile .pro_cont .pro_txt .txt04{
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    border-left: 1px solid #000;
    padding-left: 20px;
    width: 700px;
}
main .profile .pro_cont .pro_txt .txt04 li{
    margin-right: 20px;
    width: 65px;
}
main .profile .pro_txt .txt04 li:nth-child(4),
main .profile .pro_txt .txt04 li:nth-child(5),
main .profile .pro_txt .txt04 li:nth-child(6),
main .profile .pro_txt .txt04 li:nth-child(7){
    width: 80px;
}
main .profile .pro_txt .txt04 li img{
    width: 100%;
}
/* 공통, 웹 */
main .web{
    display: flex;
    flex-direction: column;
    padding-top: 150px;/*  */
}
main .web h1{}
main .web .web_cont{
    display: flex;
    width: 90%;
    margin: 0 auto;
    padding-top: 50px;
}
main .web .web_cont .web_img{width: 50%;}
main .web .web_cont .web_img img{width: 100%;}
main .web .web_cont .web_txt{
    width: 50%; 
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main .web .web_cont .web_txt h2{
    letter-spacing: 0.1em;
    font-size: 2.50rem;
    color: #57160B;
}
main .web .web_cont ul{}
main .web .web_cont ul li{}
main .web .web_cont .web_txt .txt{
    margin: 80px 0 100px;
}
main .web .web_cont .web_txt .txt li{
    display: flex;
    margin-bottom: 20px;
    width: 100%;
}
main .web .web_cont .web_txt .txt li:last-child{
    margin-bottom: 0;
}
main .web .web_cont .web_txt .txt li h3{
    width: 30%;
    /* background-color: yellow; */
    color: #57160B;
    font-size: 1.5rem;
}
main .web .web_cont .web_txt .txt li p{
    width: 70%;
    /* background-color: green; */
    font-size: 1.5rem;
}
main .web .web_cont .web_txt .btn{}
main .web .web_cont .web_txt .btn a{
    padding: 5px 20px;
    letter-spacing: 0.02em;
    color: #fff;
    background-color: #B22B15;
    border-radius: 8px;
    font-size: 1.25rem;
    margin-right: 20px;
}
main .web .web_cont .web_txt .btn .btn01:hover{
    background-color: #57160B;
}
main .web .web_cont .web_txt .btn .btn02:hover{
    background-color: #57160B;
}
main .web .web_cont .web_txt .btn .btn03:hover{
    background-color: #57160B;
}
/* 잭시믹스, 롯데호텔 */
main .portfolio .xexymixx .xexymixx_cont{flex-direction: row-reverse;}
main .portfolio .lottehotel .lottehotel_cont{flex-direction: row-reverse;}
/* 공통, 디자인*/
main .design{
    display: flex;
    flex-direction: column;
    padding-top: 100px;/*  */
}
main .design h1{}
main .design p{
    display: flex;
    align-items: center;
    padding: 50px 0 15px 210px;
}
main .design a img{}
main .design .design_wrap{
    padding-top: 200px;
    width: 90%;
    margin: 0 auto;
}
main .design .design_wrap a{
    display: inline-block;
    margin-right: 20px;
}
main .design .design_wrap a img{width: 100%;}
/* 상세페이지 */
main .page .page_wrap{padding-top: 0;}
/* 배너 */
main .banner .banner_wrap{padding-top: 250px;}
main .banner .banner_wrap a{margin-bottom: 20px;}
main .banner .banner_wrap a:nth-child(3){margin-bottom: 0;}
main .banner .banner_wrap a:hover{
        transform: scale(1.1);
        transition: transform .5s;
}
/* sns */
main .sns .sns_wrap{}
main .sns .sns_wrap a:hover{
    transform: scale(1.1);
    transition: transform .5s;
}
/* 푸터 */
footer{
    background: url(../img/footer.png) no-repeat;
}
footer p{
    font-family: "Noto Serif", serif;
    color: #57160B;
    font-size: 6.25rem;
    line-height: 1000px;
    text-align: center;
}